<header class="header">
    <h1 class="header__title">{{title}}</h1>
    <nav class="mt-3">
        <ul class="nav-bar-list">
            <li>
                <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a routerLink="/extrato" routerLinkActive="active">Extrato</a>
            </li>
            <li>
                <a routerLink="/contato" routerLinkActive="active">Contato</a>
            </li>
            <li>
                <button class="btn btn-outline-dark ml-3" (click)="logout()">
                    Logout
                </button>
            </li>
        </ul>
    </nav>
</header>