<div class="container text-center p-5 min-content">

    <div *ngIf="isLoading && !isError" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    <div *ngIf="isError">
        <h2>Deu erro :(</h2>
        <button class="btn btn-success mt-3" (click)="loadingExtrato()">Tentar Novamente</button>
    </div>

    <div *ngIf="!isLoading && !isError">
        <div class="row mb-5 justify-content-between">
            <button class="btn btn-primary" (click)="previousPage()" [disabled]="page === 1">Página anterior</button>
            <p>Página atual: {{ page }}</p>
            <button class="btn btn-primary" (click)="nextPage()">Próxima página</button>
        </div>

        <table class="table">
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Descricao</th>
                <th>Valor</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>

            <tr *ngFor="let item of transacoes">
                <td>{{ item.id }}</td>
                <td>{{ item.data | date }}</td>
                <td>{{ item.descricao }}</td>
                <td>{{ item.valor | currency:'BRL'}}</td>
                <td>{{ item.categoria }}</td>
                <td>
                    <button class="btn btn-primary">
                        Ver detalhes
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>