<div class="text-center">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="form-signin pt-5">
        <div class="p-2">
            <input 
            class="form-control" 
            placeholder="E-mail" 
            type="email" 
            name="email"
            [ngClass]="showError('email', form) ? 'is-invalid' : ''" 
            [(ngModel)]="email" email required #emailInput>
            <div *ngIf="showError('email', form)" class="invalid-feedback">
                E-mail Inválido
            </div>
        </div>
        <div class="p-2">
            <input 
            class="form-control" 
            placeholder="Password" 
            type="password" 
            name="password"
            [ngClass]="showError('password', form) ? 'is-invalid' : ''"  
            [(ngModel)]="password" required #passwordInput>
            <div *ngIf="showError('password', form)" class="invalid-feedback">
                Password Inválido
            </div>
        </div>
        <div class="p-2">
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Entrar
            </button>
        </div>
    </form>
</div>