<div class="container text-center p-5">

    <div *ngIf="isLoading && !isError" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    <div *ngIf="isError">
        <h2>Deu erro :(</h2>
        <button class="btn btn-success mt-3" (click)="loadingContatos()">Tentar Novamente</button>
    </div>

    <div *ngIf="!isLoading && !isError">

        <div class="row mb-5 justify-content-between" *ngIf="page > 1">
            <button class="btn btn-primary" (click)="previousPage()" [disabled]="page === 1">Página anterior</button>
            <p>Página atual: {{ page }}</p>
            <button class="btn btn-primary" (click)="nextPage()">Próxima página</button>
        </div>

        <button class="btn btn-success mb-3" (click)="newContact()">
            Novo Contato
        </button>
        <table class="table">
            <tr>
                <th>Nome</th>
                <th>Ações</th>
            </tr>

            <tr *ngFor="let item of contatos">
                <td>{{ item.nome }}</td>
                <td>
                    <button class="btn btn-primary mr-3" (click)="goToDetails(item.id)">
                        Ver detalhes
                    </button>
                    <button class="btn btn-warning mr-3" (click)="editContact(item.id)">
                        Editar
                    </button>
                    <button class="btn btn-danger" (click)="deleteContact(item.id)">
                        Deletar
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>